.menu-container {
    display: flex;
    flex-direction: row;
}

.list {
    width: auto;
    height: 100vh;
    flex-direction: column;
    display: flex;
    border-right: groove white 1px;
    border-top: groove white 1px;
  }

  .item {
    width: auto;
    height: 100vh;
    flex-direction: column;
    display: flex;
  }